@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="calendar-body content">
    <!--Header-->
    <div class="container-fluid" id="Calendar">
        <div class="row calendarHeader">
            <h2 class="h2style1 col-xs-12">CALENDAR</h2>
            <div class="col-xs-5"></div>
            <add-component controller="Events" is-visible="User.Identity.IsAuthenticated">Add Calendar Event</add-component>
        </div>
        
    </div>
    <!--Accordian-->
    <div class="calendarEvents">

        @*Get all events per month*@
        @{
            string[] strMonths = { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
            string[] intMonths = { "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" };
         }

        <!--Check if this year has an event-->
        <!---->
        @for (int k = DateTime.Now.Year-1; k < 2018+10; k++)
        {
            <!--Check if this month has an event-->
            @for (int i = 0; i < 12; i++)
            {
                int j = 0;
                @foreach (Events ev in Model.Events)
                {
                    //organize by year
                    if (ev.When.Substring(ev.When.Length - 4, 4).Equals(k.ToString()))
                    {
                        //organize by month
                        @if (ev.When.Substring(0, 2).Equals(intMonths[i]))
                        {
                            
                            if (j == 0)
                            {
                                <!--print month & year-->
                                <h3>@strMonths[i] @k</h3>
                            }

                            j++;

                            <edit-container is-visible="User.Identity.IsAuthenticated">
                                <div>
                                    <button class="btn btn-calendar col-xs-12" id="calendar_@ev.ID" data-toggle="collapse" data-target="#event_@ev.ID" aria-expanded="false" aria-controls="event_@ev.ID" onclick="collapseClick(@ev.ID)">
                                        <span class="col-xs-1 glyphicon glyphicon-triangle-left glyphs" id="glyphs_@ev.ID"></span>
                                        <span class="col-xs-6 calendarTitle">@ev.EventTitle</span>
                                        <span class="col-xs-push-4 col-xs-2 date">@ev.When</span>
                                    </button>
                                    <div class="collapse" id="event_@ev.ID">
                                       <div class="row">
                                           <h5 class="col-xs-push-1 col-xs-1 calendarTitle">What</h5>
                                           <h5 class="col-xs-push-1 col-xs-10 calendarTitle title">@ev.EventTitle</h5>
                                       </div>
                            
                                    <div class="row">
                                       <h5 class="col-xs-push-1 col-xs-1 calendarTitle">When</h5>
                                       <h5 class="col-xs-push-1 col-xs-10">@ev.When</h5>
                                    </div>

                                    <div class="row">
                                       <h5 class="col-xs-push-1 col-xs-1 calendarTitle">Where</h5>
                                       <h5 class="col-xs-push-1 col-xs-10">@ev.Where</h5>
                                    </div>

                                    <div class="row">
                                       <h5 class="col-xs-push-1 col-xs-1 calendarTitle">Info</h5>
                                       <h5 class="col-xs-push-1 col-xs-10">@ev.Info</h5>
                                    </div>
                                    </div>
                                    <edit-link>
                                        <edit-a controller="Events" route-id="@ev.ID"></edit-a>
                                    </edit-link>
                                </div>
                            </edit-container>
                         }
                    }
                 }
             }
         }
    </div>
</div>