
<article class="container-fluid purpose-box">
    <section class="row purpose col-xs-12">
        <edit-container is-visible="User.Identity.IsAuthenticated">
            <div class="row purpose-title">

                @*@Html.DisplayFor(Model.Purpose)*@

                @foreach (Purpose PS in Model.Purpose)
                {
                    <h2 class="h2-white editArea">@PS.Title</h2>
                    <edit-link is-visible="User.Identity.IsAuthenticated">
                        <edit-a controller="Purposes" route-id="@PS.PurposeID" is-visible="User.Identity.IsAuthenticated"></edit-a>
                    </edit-link>
                }
            </div>
        </edit-container>
        <edit-container is-visible="User.Identity.IsAuthenticated">
            <div class="row purpose-detail">
                <div class="col-xs-12 no-padding">
                    @foreach (Purpose PS in Model.Purpose)
                    {
                        <p class="montlight-dark-32 editArea">@PS.Message</p>
                        <edit-link is-visible="User.Identity.IsAuthenticated">
                            <edit-a controller="Purposes" route-id="@PS.PurposeID" is-visible="User.Identity.IsAuthenticated"></edit-a>
                        </edit-link>
                    }
                </div>
            </div>
        </edit-container>
        <edit-container is-visible="User.Identity.IsAuthenticated">
            <div class="row purpose-stats">
                <div class="col-xs-12">
                    @foreach (Purpose PS in Model.Purpose)
                    {
                        <p class="editArea">@PS.Content</p>
                        <edit-link is-visible="User.Identity.IsAuthenticated">
                            <edit-a controller="Purposes" route-id="@PS.PurposeID" is-visible="User.Identity.IsAuthenticated"></edit-a>
                        </edit-link>
                    }
                </div>
            </div>
        </edit-container>
    </section>
    <div class="clear"></div>
    <section class="row sponsor-bar">
        <div class="col-xs-12 col-lg-3">
            <p class="partner-text">Our Partners</p>
        </div>
        <div class="col-xs-12 col-lg-3 ">
            <div class="partner-logo">
                <img src="~/images/mckaydee_hospital.png" alt="McKay Dee Hospital" class="mckay" />
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="partner-logo">
                <img src="~/images/the_group_logo.png" alt="The Group Real Estate" class="thegroup" />
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="partner-logo">
                <img src="~/images/giv_development.png" alt="GIV Development" class="giv" />
            </div>
        </div>
    </section>
    <section class="row purpose-user">
        <div class="container text-center row">
            <add-component controller="Links" is-visible="User.Identity.IsAuthenticated">Add New Link</add-component>
        </div>
        <div class="boxes">
            @foreach (Link Lk in Model.Link)
            {
                <div class="col-xs-3 panel ">
                    <edit-container is-visible="User.Identity.IsAuthenticated">
                        <article class="editArea">
                            <section class="panel-img-container">
                                <img src="@Lk.Image" alt="Volunteer" class="panel-img" />
                            </section>
                            <section>
                                <p class="panel-heading">@Lk.Title</p>
                            </section>
                            <section>
                                <p class="mont-light-light-22 panel-summary">@Lk.Message</p>
                            </section>
                            <section class="panel-footer">
                                <p class="quicksand-light-24-green">
                                    <a <a asp-controller="@Lk.TargetControler" asp-action="@Lk.TargetAction" asp-fragment="@Lk.TargetFragment">>@Lk.Hyperlink ></a>
                                </p>
                            </section>
                        </article>
                        <edit-link is-visible="User.Identity.IsAuthenticated">
                            <edit-a controller="Links" route-id="@Lk.LinkID" is-visible="User.Identity.IsAuthenticated"></edit-a>
                        </edit-link>
                    </edit-container>
                </div>
            }
        </div>
    </section>
</article>