
<div class="container-fluid" id="staffMain">
    <div class="row board_header">
        <div class="col-xs-6 text" id="Staff">
            <h2>Our</h2>
            <h2 class="h2style1">Staff</h2>
        </div>
    </div>
</div>
<!--Staff-->
@*<button type="button" data-toggle="modal" data-target="#staffPopup">Add Staff</button>*@
<a asp-controller="Staff_Panel" asp-action="Create" >Add Staff</a>
@foreach (Staff_Panel st in Model.Staff)
{

    if (st.Director.Equals("0"))
    {
        <div class="container">
            <div class="row board_members">
                <section class="col-xs-12 col-md-4">
                    <img src="@st.Staff_Image" class="img-responsive" title="Justine Murray" alt="Justine Murray">
                    <p><span class="name">@st.Name</span><br />@st.Level<br />@st.Postion<br /> <span class="email">@st.email</span></p>
                    <a asp-controller="Staff_Panel" asp-action="Edit" asp-route-id="@st.ID">Edit</a>
                </section>
            </div>
        </div>
            
    }
}