<div class="container-fluid" id="staffMain">
    <div class="row board_header">
        <div class="col-xs-6 text" id="Staff">
            <h2>Our</h2>
            <h2 class="h2style1">Staff</h2>
            <a class="editText" asp-controller="Staff_Panel" asp-action="Create">Add Staff</a>
        </div>
        <
    </div>


    <!--Staff-->
    @*<button type="button" data-toggle="modal" data-target="#staffPopup">Add Staff</button>*@

    <div class="row board_members">
        @foreach (Staff_Panel st in Model.Staff)
            {
                if (st.Director.Equals("0"))
                {
                <edit-container>
                    <div class="col-md-4">
                        <div class="editArea">
                            <img src="@st.Staff_Image" class="img-responsive" title="Justine Murray" alt="Justine Murray">
                            <p>
                                <span class="name">@st.Name</span><br />@st.Level<br />@st.Postion<br /> <span class="email">@st.email</span>
                            </p>
                        </div>
                        <edit-link>
                            <edit-a controller="Staff_Panel" route-id="@st.ID"></edit-a>
                        </edit-link>
                    </div>

                </edit-container>


            }

        }
    </div>
</div>
