@model IEnumerable<MyYouthFutures.Models.List_Item>

@{
    ViewData["Title"] = "Index";
}
<div class="sidepage index">
    <h2>Index</h2>

    <a asp-action="Create" class="btn btn-primary btn-right"><span class="glyphicon glyphicon-plus"></span>Create New</a>
    <h4>Donate: Items</h4>
    <hr />

    <div class="sidepage-content">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TypeOfList)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LiText)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeOfList)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LiText)
                        </td>
                        <td class="glyphs">
                            <a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                            <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" title="Details" class="border-left"><span class="glyphicon glyphicon-list"></span></a>
                            <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" title="Delete" class="border-left"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <hr />
    <a asp-controller="Home" asp-action="About" asp-fragment="needs" class="btn btn-default back"><span class="glyphicon glyphicon-triangle-left"></span>Back to Page </a>

</div>