@model IEnumerable<MyYouthFutures.Models.HomeTitle>

@{
    ViewData["Title"] = "Index";
}
<div class="sidepage index">
    <h2>Index</h2>
    
    <h4>Home Titles</h4>
    <hr />
    <div class="sidepage-content">
        <div>
            <a asp-action="Create" class="btn btn-primary btn-right"><span class="glyphicon glyphicon-plus"></span>Create New</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="headLeft">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subtitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BackgroundImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubheaderContent)
                    </th>
                    <th class="headRight"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subtitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BackgroundImage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubheaderContent)
                        </td>
                        <td class="glyphs">
                            <a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                            <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" title="Details" class="border-left"><span class="glyphicon glyphicon-list"></span></a>
                            <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" title="Delete" class="border-left"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <hr />
    <a asp-controller="Home" asp-action="Index" class="btn btn-default back"><span class="glyphicon glyphicon-triangle-left"></span>Back to Page </a>
    <!--<p class="row">
        <a asp-controller="Home" asp-action="Index" class="btn btn-default col-xs-push-10 col-xs-1">Back to Page</a>
    </p>-->
</div>