@model MyYouthFutures.Models.Staff_Panel

@{
    ViewData["Title"] = "Details";
}
<div class="sidepage details">
    <h2>Details</h2>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary btn-right"><span class="glyphicon glyphicon-edit"></span>Edit</a>
        <h4>Staff Panel: Staff #@Model.ID</h4>
        <hr />
        <dl class="dl-horizontal sidepage-content">
            <dt>
                @Html.DisplayNameFor(model => model.Staff_Image)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Staff_Image)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Level)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Level)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Postion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Postion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Director)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Director)
            </dd>
        </dl>
    </div>
    <hr />
    <div>
        <a asp-action="Index" class="btn btn-default back"><span class="glyphicon glyphicon-triangle-left"></span>Back to List</a>
    </div>
</div>