@model MyYouthFutures.Models.Youth_Story

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Youth_Story</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.imageBlurb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.imageBlurb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.articleText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.articleText)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
