@model ItemViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@*<div id="donorPopup" class="modal">
    @{ Html.RenderPartial("../Popups/_AddDonor");}
</div>

<div id="staffPopup" class="modal">
    @{ Html.RenderPartial("../Popups/_AddStaff");}
</div>*@

@Html.Partial("PartialViews/_TextQuestions")
@Html.Partial("PartialViews/_IntroductionArticle")
@Html.Partial("PartialViews/_FoundersMessage")
@Html.Partial("PartialViews/_History")
@Html.Partial("PartialViews/_FirstYearService")
@Html.Partial("PartialViews/_StreetOutreach")
@Html.Partial("PartialViews/_BoardOfDirectors")
@Html.Partial("PartialViews/_Staff")
@Html.Partial("PartialViews/_Media")
@Html.Partial("PartialViews/_Donors")
@Html.Partial("PartialViews/_Events")
@Html.Partial("PartialViews/_HelpPanel")
@Html.Partial("PartialViews/_ListOfNeeds")

@Html.Partial("PartialViews/_Contact")


