@Model ItemViewModel 
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<article>
    <div class="container-fluid">
        <div class="row  questions">
            <div class="col-sm-12 col-md-7 text">
                <p>Have? Send us a text!</p>
            </div>
            <div class="col-sm-12 col-md-5 phone">
                <p>(801) 528-1214</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="historyBanner">
        <div class="row hist_main_img">
            <div class="col-xs-8 text">
                <h2>Youth Futures</h2>
                <h2 class="h2style1">History</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row history_text">
            <section class="col-xs-12">
                @foreach (introArticle ia in Model.introArticles)
                {
                    if (ia.ID == 1)
                    {
                    <p class="mont_regular_22_darkgray">@ia.ArticleText</p>
                    }
                }
            </section>
        </div>
    </div>
    <div class="container">
        <div class="row history_text_pics">
            @*@await Component.InvokeAsync("Founder")*@
            @foreach (Founder_Message fm in Model.Founder_Messages)
            {
                <section class="col-xs-12  col-md-4 first_img ">
                    <img src=@fm.founderImage class="img-responsive center-block" title="Kristen and Scott" alt="Kristen and Scott">
                    <p class="mont_light_14_white hist_subtitle">@fm.founderSubTetxt</p>
                </section>
            }
        </div>
    </div>
    <div class="container-fluid">
        <div class="row history_text">
            <section class="col-xs-12">
                @foreach (introArticle ia in Model.introArticles)
                {
                    if (ia.ID == 2)
                    {
                    <p class="mont_regular_22_darkgray">@ia.ArticleText</p>
                    }
                }
            </section>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row hist_2nd_back_img">
            <section class="col-xs-12 hist_2nd_back_img_text">
                <h4>5,000 youth experience homelessness for at least one night a year in Utah</h4>
            </section>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row history_text">
            <section class="col-xs-12">
                @foreach (introArticle ia in Model.introArticles)
                {
                    if (ia.ID == 3)
                    {
                        <p class="mont_regular_22_darkgray">@ia.ArticleText</p>
                    }
                }
            </section>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row history_green_text">
            <section class="col-xs-12">
                <p class="mont_light_32_white">During the first full year of operations (February 20, 2015-March 31, 2016), our Residential Support Temporary Youth Shelter has:</p>
            </section>
        </div>
    </div>
    <div class="container">
        <section class="row more">
            @foreach (FirstYear_Service_Messages fsm in Model.FirstYear_Service_Messages)
            {
                <div class="col-xs-12 col-md-4 more_volunteer">
                    <img src="@fsm.firstYearImage" title="Meal" alt="Meal">
                    <p class="vol_p mont_light_18_darkgray">@fsm.firstYearText</p>
                </div>

            }
        </section>
    </div>
    <div class="container-fluid" id="outreachBanner">
        <div class="row outreach_main_img">
            <div class="col-xs-8 text">
                <h2>Street</h2>
                <h2 class="h2style1">Outreach</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row outreach_text">
            <section class="col-xs-12">
                <p class="mont_regular_22_darkgray">Street Outreach is designed to meet the clients where they are on the street to build rapport and encourage youth to access drop-in and shelter services. This program offers, case management, hygiene items, food, sleeping bags, and other essential items as needed. Street Outreach currently take place once per week on Wednesdays. The team visits the same Ogden, Utah locations every week:</p>
            </section>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row outreach_bullet">
            <section class="col-xs-12 col-md-6">
                <ul>
                    @foreach (List_Item outli in Model.List_item)
                    {
                        if(outli.TypeOfList.Equals("outReach"))
                        {
                            <li>@outli.LiText</li>

                        }

                    }
                </ul>
            </section>
            <section class="col-xs-12 col-md-6">
                <ul>
                    @foreach (List_Item outli1 in Model.List_item)
                    {
                        if(outli1.TypeOfList.Equals("outReach1"))
                        {
                            <li>@outli1.LiText</li>
                        }

                    }
                </ul>
            </section>
        </div>
    </div>
    <div class="container-fluid" id="directorsMain">
        <div class="row board_header">
            <div class="col-xs-6 text">
                <h2>Board of</h2>
                <h2 class="h2style1">Directors</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <!--Board of Directors-->
        <div class="row board_members">
            <section class="col-xs-12 col-md-4">
                @foreach (Staff_Panel st in Model.Staff)
                {
                    if (st.Director.Equals("1"))
                    {
                        <p><span class="name">@st.Name</span><br />@st.Level<br />@st.Postion<br /> <span class="email">@st.email</span></p>
                    }

                }
            </section>
        </div>
    </div>
    <div class="container-fluid" id="staffMain">
        <div class="row board_header">
            <div class="col-xs-6 text">
                <h2>Our</h2>
                <h2 class="h2style1">Staff</h2>
            </div>
        </div>
    </div>
    
        <!--Staff-->
        
                @foreach (Staff_Panel st in Model.Staff)
                {

                    if (st.Director.Equals("0"))
                    {
                        <div class="container">
                            <div class="row board_members">
                                <section class="col-xs-12 col-md-4">
                                    <img src="@st.Staff_Image" class="img-responsive" title="Justine Murray" alt="Justine Murray">
                                    <p><span class="name">@st.Name</span><br />@st.Level<br />@st.Postion<br /> <span class="email">@st.email</span></p>
                                </section>
                            </div>
                        </div>
                    }
                }
            
    
    <div class="container-fluid" id="mediaMain">
        <div class="row media_header">
            <div class="col-xs-6 text">
                <h2 class="h2style1">Media</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row media_subheader">
            <div class="col-xs-12 ">
                @foreach (Media med in Model.Media)
                {
                    if (med.Text_Type.Equals("title"))
                    {
                        <p class="title">@med.Content_Text</p>

                    }

                }
                @*<p class="title">America First Provides an 'Assist' to Homeless Shelter</p>*@
                @foreach (Media med in Model.Media)
                {
                    if (med.Text_Type.Equals("time"))
                    {
                        <p class="mont_regular_22_darkgray time">@med.Content_Text</p>

                    }

                }
                @*<p class="mont_regular_22_darkgray time">03/18/2015 10:03 pm<p>*@
                    <a class="link" href="#">inShare</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row media_pic">
            <div class="col-xs-12 col-lg-7 pic">
                @foreach (Media med in Model.Media)
                {
                    if (med.Text_Type.Equals("image"))
                    {
                        <img src="@med.Content_Text" class="img-responsive center-block" title="America First Check" alt="Check">

                    }

                }
                @*<img src="~/images/media_check.jpg" class="img-responsive center-block" title="America First Check" alt="Check">*@
            </div>
            <div class="col-xs-12 col-lg-5 subtext">
                @foreach (Media med in Model.Media)
                {
                    if (med.Text_Type.Equals("subTitle"))
                    {
                        <p class="subtitle">@med.Content_Text</p>

                    }

                }
                @*<p class="subtitle">At right, from left to right: Kristen Mitchell, executive director of Youth Futures Utah and Scott Tuccio, president of the Board of Directorsof Youth Futures Utah, stand with Nicole Cypers, public relations and social media manager for America First Credit Union, at the Weber State basketball game for a check presentation in the amount of $3,400 on Saturday, March 7 at Weber State University. </p>*@
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row media_text">
            <section class="col-xs-12">
                @foreach (Media med in Model.Media)
                {
                    if (med.Text_Type.Equals("para1"))
                    {
                        <p class="mont_regular_22_darkgray">@med.Content_Text</p>

                    }

                }
                @*<p class="mont_regular_22_darkgray">OGDEN, Utah--America First Credit Union awarded Youth Futures Utah, a homeless shelter for youth, with $3,400 during the Weber State University basketball game. America First paid the organization $10 for each assist the Weber State University basketball team completed throughout the 2014 – 2015 season. With 340 assists, the donation amounted to $3,400 in total for the newly-opened youth homeless organization, located in Ogden, Utah.</p>*@
                @foreach (Media med in Model.Media)
                {
                    if (med.Text_Type.Equals("para2"))
                    {
                        <p class="mont_regular_22_darkgray">@med.Content_Text</p>

                    }

                }
                @*<p class="mont_regular_22_darkgray">Youth Futures Utah is a 501(c)3 organization committed to the well-being of the youth of Utah. The mission of Youth Futures Utah is to provide shelter, support, resources and guidance to homeless, unaccompanied and runaway youth in Utah. Youth Futures connects each youth with food, housing and resources to build the skills needed to support a healthy future.</p>*@
            </section>
        </div>
    </div>
    <div class="container-fluid" id="donorsMain">
        <div class="row donor_header">
            <div class="col-xs-6 text">
                <h2 class="h2style1">Donors</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row donor_subheader">
            <div class="col-xs-12 ">
                <p class="title_plat">Plantinum Level Donors</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row donor_list">
            @foreach (Doners d in Model.Doners)
            {
                if (d.Doner_Type.Equals("Plantinum"))
                {
                    <div class="col-xs-4 donor_box plat">
                        <p class="donor_name">@d.Doner_Name</p>
                        <p class="year">@d.Doner_year</p>
                    </div>

                }

            }
            @*<div class="col-xs-4 donor_box plat">
                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>
            </div>
            <div class="col-xs-4 donor_box plat">
                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>
            </div>
            <div class="col-xs-4 donor_box plat">
                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>
            </div>*@
        </div>
    </div>
    <div class="container-fluid">
        <div class="row donor_list">
            @foreach (Doners d in Model.Doners)
            {
                if (d.Doner_Type.Equals("Plantinum"))
                {
                    <div class="col-xs-4 donor_box plat">
                        <p class="donor_name">@d.Doner_Name</p>
                        <p class="year">@d.Doner_year</p>
                    </div>

                }

            }
            @*<div class="col-xs-4 donor_box plat">
                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>
            </div>
            <div class="col-xs-4 donor_box plat">
                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>
            </div>
            <div class="col-xs-4 donor_box plat">
                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>
            </div>*@
        </div>
    </div>
    <div class="container-fluid">
        <div class="row donor_subheader">
            <div class="col-xs-12 ">
                <p class="title_gold">Gold Level Donors</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row donor_list">
            @foreach (Doners d in Model.Doners)
            {
                if (d.Doner_Type.Equals("Gold"))
                {
                    <div class="col-xs-4 donor_box gold">
                        <p class="donor_name">@d.Doner_Name</p>
                        <p class="year">@d.Doner_year</p>
                    </div>

                }

            }
            @*<div class="col-xs-4 donor_box gold">
                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>
            </div>
            <div class="col-xs-4 donor_box gold">
                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>
            </div>
            <div class="col-xs-4 donor_box gold">
                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>
            </div>*@
        </div>
    </div>
    <div class="container-fluid">
        <div class="row donor_list">
            @foreach (Doners d in Model.Doners)
            {
                if (d.Doner_Type.Equals("Gold"))
                {
                    <div class="col-xs-4 donor_box gold">
                        <p class="donor_name">@d.Doner_Name</p>
                        <p class="year">@d.Doner_year</p>
                    </div>

                }

            }
            @*<div class="col-xs-4 donor_box gold">
                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>
            </div>
            <div class="col-xs-4 donor_box gold">
                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>
            </div>
            <div class="col-xs-4 donor_box gold">
                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>
            </div>*@
        </div>
    </div>
    <div class="container-fluid">
        <div class="row donor_subheader">
            <div class="col-xs-12 ">
                <p class="title_silver">Silver Level Donors</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row donor_list">
            @foreach (Doners d in Model.Doners)
            {
                if (d.Doner_Type.Equals("Silver"))
                {
                    <div class="col-xs-4 donor_box silver">
                        <p class="donor_name">@d.Doner_Name</p>
                        <p class="year">@d.Doner_year</p>
                    </div>

                }

            }
            @*<div class="col-xs-4 donor_box silver">
                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>
            </div>
            <div class="col-xs-4 donor_box silver">
                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>
            </div>
            <div class="col-xs-4 donor_box silver">
                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>
            </div>
        </div>*@
    </div>
    <div class="container-fluid">
        <div class="row donor_list">
            @foreach (Doners d in Model.Doners)
            {
                if (d.Doner_Type.Equals("Silver"))
                {
                    <div class="col-xs-4 donor_box silver">
                        <p class="donor_name">@d.Doner_Name</p>
                        <p class="year">@d.Doner_year</p>
                    </div>

                }

            }
            @*<div class="col-xs-4 donor_box silver">
                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>
            </div>
            <div class="col-xs-4 donor_box silver">
                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>
            </div>
            <div class="col-xs-4 donor_box silver">
                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>
            </div>*@
        </div>
    </div>
    <div class="container-fluid">
        <div class="row donor_subheader">
            <div class="col-xs-12 ">
                <p class="title_bronze">Bronze Level Donors</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row donor_list">
            @foreach (Doners d in Model.Doners)
            {
                if (d.Doner_Type.Equals("Bronze"))
                {
                    <div class="col-xs-4 donor_box bronze">
                        <p class="donor_name">@d.Doner_Name</p>
                        <p class="year">@d.Doner_year</p>
                    </div>

                }

            }
            @*<div class="col-xs-4 donor_box bronze">
                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>
            </div>
            <div class="col-xs-4 donor_box bronze">
                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>
            </div>
            <div class="col-xs-4 donor_box bronze">
                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>
            </div>*@
        </div>
    </div>
    <div class="container-fluid">
        @foreach (Doners d in Model.Doners)
            {
                if (d.Doner_Type.Equals("Bronze"))
                {
                <div class="col-xs-4 donor_box bronze">
                    <p class="donor_name">@d.Doner_Name</p>
                    <p class="year">@d.Doner_year</p>
                </div>

            }

        }
        @*<div class="row donor_list bronze">
            <div class="col-xs-4 donor_box bronze">
                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>
            </div>
            <div class="col-xs-4 donor_box bronze">
                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>
            </div>
            <div class="col-xs-4 donor_box bronze">
                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>
            </div>
        </div>*@
    </div>
    <div class="container-fluid" id="donateMain">
        <div class="row donor_header">
            <div class="col-xs-6 text">
                <h2 class="h2style1">Donate</h2>
            </div>
        </div>
        <div class="row donate_help">
            <div class="col-xs-12">
                @foreach (Help_Panel hp in Model.Help_Panel)
                {
                    if (hp.Content_Type.Equals("title"))
                    {
                    <p>@hp.Content_Text</p>
                    }
                }
                @*<p>HOW CAN YOU HELP?</p>*@
            </div>
        </div>
        <div class="row media_text">
            <div class="col-xs-12">
                @foreach (Help_Panel hp in Model.Help_Panel)
                {
                    if (hp.Content_Type.Equals("subTitle"))
                    {
                        <p class="mont_regular_22_darkgray">@hp.Content_Text</p>
                    }
                }
                @*<p class="mont_regular_22_darkgray">	Your generosity helps keep the doors open and the lights on, providing a sanctuary for those in need. Please consider a donation. </p>*@
            </div>
        </div>
        <section class="row more">
            <div class="col-xs-12 col-lg-4 more_volunteer">
                @foreach (Help_Panel hp in Model.Help_Panel)
                {
                    if (hp.Content_Type.Equals("image1"))
                    {
                        <img src="@hp.Content_Text" title="Dollar" alt="Dollar">
                    }
                    if (hp.Content_Type.Equals("panelText1"))
                    {
                        <p class="vol_p mont_light_18_darkgray">@hp.Content_Text</p>
                    }
                }
                @*<img src="~/images/donate_dollar.svg" title="Dollar" alt="Dollar">*@
                @*<p class="vol_p mont_light_18_darkgray">Monetary donations are our biggest need right now. Recurring <span class="green"><a href="#">PayPal</a></span> donations can be scheduled from our website, even $10 makes a difference. </p>*@
            </div>
            <div class="col-xs-12 col-lg-4 more_stories">
                @foreach (Help_Panel hp in Model.Help_Panel)
                {
                    if (hp.Content_Type.Equals("image2"))
                    {
                        <img src="@hp.Content_Text" title="Dollar" alt="Dollar">
                    }
                    if (hp.Content_Type.Equals("panelText2"))
                    {
                        <p class="vol_p mont_light_18_darkgray">@hp.Content_Text</p>
                    }
                }
                @*<img src="~/images/donate_cart.svg" title="Cart" alt="Cart">
                <p class="youth_p mont_light_18_darkgray">
                    Donate through rewards programs: <span class="green"><a href="#">Amazon Smile,</a></span> <span class="green"><a href="#">Smiths Community Rewards,</a></span> or <span class="green"><a href="#">United Way,</a></span> <span class="green"><a href="#">Federal and State Employee contributions,</a></span>
                    <span class="green"><a href="#">LoveUTGiveUT</a></span>
                </p>*@
            </div>
            <div class="col-xs-12 col-lg-4 more_events">
                @foreach (Help_Panel hp in Model.Help_Panel)
                {
                    if (hp.Content_Type.Equals("image3"))
                    {
                        <img src="@hp.Content_Text" title="Dollar" alt="Dollar">
                    }
                    if (hp.Content_Type.Equals("panelText3"))
                    {
                        <p class="vol_p mont_light_18_darkgray">@hp.Content_Text</p>
                    }
                }
                @*<img src="~/images/donate_hand.svg" title="Hand" alt="Hand">
                <p class="events_p mont_light_18_darkgray">Donate your time as a volunteer to help with needs around the shelter! <span class="green"><a href="#">Sign up here.</a></span></p>*@
            </div>
        </section>
    </div>
    <div class="container-fluid needs">
        <div class="row donate_help">
            <div class="col-xs-12">
                <p>LIST OF NEEDS</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 needs_list first">
                <p class="needs_subheader">
                    MOST IMPORTANT NEEDS
                    (In order of priority)
                </p>
                <ul>
                    @foreach (List_Item outlINeeds in Model.List_item)
                    {
                        if(outlINeeds.TypeOfList.Equals("mostImportantNeeds"))
                        {
                            <li>@outlINeeds.LiText</li>

                        }

                    }
                    @*<li>Cash donations</li>
                    <li>Printer Paper</li>
                    <li>Canned meat & Jerky</li>
                    <li>Scotch tape</li>
                    <li>Bus tokens or passes</li>
                    <li>Earbud Headphones</li>
                    <li>Cinch bags</li>
                    <li>Batteries</li>
                    <li>Sweat Pants</li>
                    <li>Pajama Bottoms </li>
                    <li>Sports bras</li>
                    <li>Trail mix individuals</li>
                    <li>Toilet Paper</li>
                    <li>Condoms</li>
                    <li>Tampons	</li>
                    <li>Carabiners</li>
                    <li>Paper plates and cups</li>
                    <li>Men's and Women's Underwear</li>
                    <li>Socks </li>
                    <li>Kleenex individuals</li>
                    <li>Undershirts, S M L XL</li>
                    <li>Garbage bags 30 Gallon</li>
                    <li>Garbage sacks small    bathroom</li>
                    <li>Lip balm</li>
                    <li>Ziploc bags, quart and gallon</li>
                    <li>Energy Bars</li>
                    <li>Heavy duty plastic storage bins that won't melt if heated in shed</li>*@
                </ul>
            </div>
            <div class="col-xs-12 col-md-4 needs_list">
                <p class="needs_subheader">MISC. NEEDS</p>
                <ul>
                    @foreach (List_Item outLiMNeeds in Model.List_item)
                    {
                        if(outLiMNeeds.TypeOfList.Equals("MISCNEEDS"))
                        {
                            <li>@outLiMNeeds.LiText</li>

                        }

                    }
                    @*<li>Minivan</li>
                    <li>NEW Printer</li>*@
                </ul>
                <p class="needs_subheader">GIFT CARDS FOR</p>
                <ul>
                    @foreach (List_Item outLiGCards in Model.List_item)
                    {
                        if(outLiGCards.TypeOfList.Equals("GiftCardsForNeeds"))
                        {
                            <li>@outLiGCards.LiText</li>

                        }

                    }
                    @*<li>Walmart</li>
                    <li>Fun things to do</li>
                    <li>Grocery store</li>
                    <li>Maverick</li>
                    <li>Restaurants</li>
                    <li>Movies</li>
                    <li>Bus passes or tokens</li>
                    <li>Phone minutes </li>
                    <li>Beauty salons/haircuts</li>
                    <li>For shoe stores</li>
                    <li>Lagoon passes</li>*@
                </ul>
            </div>
            <div class="col-xs-12 col-md-4 needs_list">
                <p class="needs_subheader">HOUSEHOLD FURNISHINGS NEEDS</p>
                <ul>
                    @foreach (List_Item outLiHouse in Model.List_item)
                    {
                        if(outLiHouse.TypeOfList.Equals("HouseholdFurnishingsNeeds"))
                        {
                            <li>@outLiHouse.LiText</li>

                        }

                    }
                    @*<li>NEW pots and pans</li>
                    <li>New Couches</li>*@
                </ul>
                <p class="needs_subheader">VOLUNTEERS</p>
                <ul>
                    @foreach (List_Item outLiVol in Model.List_item)
                    {
                        if(outLiVol.TypeOfList.Equals("Volunteers"))
                        {
                            <li>@outLiVol.LiText</li>

                        }

                    }
                    @*<li>Mentors</li>
                    <li>Educators</li>
                    <li>Group activity facilitators</li>
                    <li>Meal preparers/providers</li>
                    <li>Tutors</li>
                    <li>Life skills trainers</li>
                    <li>Beauticians</li>
                    <li>Street Outreach Workers</li>
                    <li>Artists for classes</li>
                    <li>Yard work</li>
                    <li>Interior painters</li>*@
                </ul>
                <p class="needs_subheader">REPAIR NEEDS</p>
                <ul>
                    @foreach (List_Item outLiRep in Model.List_item)
                    {
                        if(outLiRep.TypeOfList.Equals("RepairNeeds"))
                        {
                            <li>@outLiRep.LiText</li>

                        }

                    }
                    @*<li>Concrete or pavers 1500 sq. feet</li>
                    <li>Cement sidewalk repair& labor</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid needs" id="contactMain">
        <div class="row donor_header">
            <div class="col-xs-6 text">
                <h2 class="h2style1">CONTACT</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 contact_form">
                <p class="contact_subheader">CONTACT US</p>
                <form method="post" name="myemailform" action="form-to-email.php">
                    <input type="text" class="input_text" name="firstName" placeholder="First Name" maxlength="20"> <span class="change" id="fName_change">Required!</span>
                    <br>
                    <input type="text" class="input_text" name="lastName" placeholder="Last Name" maxlength="20"><span class="change" id="lName_change">Required!</span>
                    <br>
                    <input type="tel" name="phone" placeholder="Telephone (Optional)" maxlength="20">
                    <br>
                    <input type="email" class="input_text" name="email" placeholder="Email Address" maxlength="40"><span class="change" id="email_change">Required!</span>
                    <br>
                    <textarea name="message" class="input_text" placeholder="Message" maxlength="255"></textarea><span class="change" id="message_change">Required!</span>
                    <br>
                    <input type="submit" class="submit_button" id="submit" value="Submit" disabled>
                    <input type="reset" value="Cancel" class="cancel" />
                </form>
            </div>
            <div class="col-xs-12 col-md-6 two_col">
                <p class="contact_subheader other_info">CALL US</p>
                <p class="contact_info_text contact_tel">Tel: 801-528-1214</p>
                <p class="contact_subheader other_info">COME SEE US</p>
                <p class="contact_info_text">2760 S. Adams Ave<br>Ogden, Utah 84401</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1784.5861387467835!2d-111.96804305268928!3d41.215141436084046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87530f2689623957%3A0x49def70f5ee0a151!2sOgden+Youth+Futures!5e0!3m2!1sen!2sus!4v1492809010928" class="map" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row contact_SM">
            <div class="col-xs-4">
                <p class="contact_subheader">SOCIAL MEDIA</p>
                <img src="~/images/contact_instagram.png" title="instagram icon" alt="instagram icon">
                <img src="~/images/contact_twitter.png" title="twitter icon" alt="twitter icon">
                <img src="~/images/contact_tumblr.png" title="tumblr icon" alt="tumblr icon">
                <img src="~/images/contact_fb.png" title="fb icon" alt="fb icon">
            </div>
        </div>
    </div>

</article>
<footer>
    <div class="container-fluid foot_cont">
        <div class="row foot">
            <section class="col-sm-12 col-md-2 contact">
                <p class="quick_bold_18_white">Contact</p>
                <p class="mont_light_14_white">Email: info@yfut.org<br />Phone: 801-528-1214</p>
            </section>
            <section class="col-sm-12 col-md-2 mailing">
                <p class="quick_bold_18_white">Mailing Address</p>
                <p class="mont_light_14_white">Youth Futures</p>
                <p class="mont_light_14_white">POB 160301</p>
                <p class="mont_light_14_white">Clearfield, UT 84016</p>
            </section>
            <section class="col-sm-12 col-md-2 shelter">
                <p class="quick_bold_18_white">Shelter Address</p>
                <p class="mont_light_14_white">Youth Futures</p>
                <p class="mont_light_14_white">2760 S. Adams Ave</p>
                <p class="mont_light_14_white">Ogden, UT 84403</p>
            </section>
            <section class="col-sm-12 col-md-2 foot_logo">
                <img src="~/images/page_1.png" title="house icon" alt="house icon">
            </section>
            <section class="col-sm-12 col-md-4 social">
                <img src="~/images/social_instagram.png" title="house icon" alt="house icon">
                <img src="~/images/social_twitter.png" title="house icon" alt="house icon">
                <img src="~/images/social_tumblr.png" title="house icon" alt="house icon">
                <img src="~/images/social_fb.png" title="house icon" alt="house icon">
            </section>
        </div>
        <div class="copyright mont_regular_16_lightgray">
            <p>© Youth Futures, Inc.</p>
        </div>
    </div>
</footer>

