@using MyYouthFutures.Controllers
@Model ItemViewModel
@{
    ViewData["Title"] = "Home Page Demo";
}
@* HOME TITLE MAIN*@
<edit-container>
    <section class="container-fluid main-header">
        <div class="row">
            <div class="col-xs-6 header-box">
                <div class="row">

                    @foreach (HomeTitle HT in Model.HomeTitle)
                    {
                        <p class="header-text-greeting editArea">@HT.Title</p>
                        <edit-link>
                            <edit-a controller="HomeTitles" route-id="@HT.ID"></edit-a>
                        </edit-link>
                    }
                </div>
                <div class="sub-text-box row editArea">
                    @foreach (HomeTitle HT in Model.HomeTitle)
                    {
                        <p class="sub-text col-xs-12">@HT.Subtitle</p>

                    }
                </div>
            </div>
        </div>
    </section>
    @* END HOME TITLE MAIN*@
    @* HOME TITLE MESSAGE *@
    <section id="header" class="container-fluid">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-11">
                <p class="green-header">
                    @foreach (HomeTitle HT in Model.HomeTitle)
                    {
                        <span class="mont-semibold-dark-36 have-questions-heading editArea">@HT.SubheaderContent</span>
                    }
                </p>
            </div>
        </div>
    </section>
</edit-container>





@* END HOME TITLE MESSAGE *@
@* SERVICES TITLE *@
<section class="container-fluid services">
    <div class="row">
        <div class="col-xs-12">
            @foreach (Services SV in Model.Services)
            {
                <edit-container>
                    <h4 class="services-heading editArea" ng-model="ServicesTitle">@SV.Title</h4>
                    <p class="mont-light-light-22 about-services" ng-model="ServicesSubtitle">@SV.Header</p>
                    <edit-link>
                        <edit-a controller="Services" route-id="@SV.ID"></edit-a>
                    </edit-link>
                </edit-container>
            }

        </div>
    </div>
</section>
@* END SERVICES TITLE *@
@* Panels for Services Offered *@

<section>
    <div class="container text-center row">
        <a class="editText" asp-controller="Services_Message" asp-action="Create">Add New Service</a>
    </div>
    <div class="row">
        <div class="boxes">
            @foreach (Services_Message SM in Model.Services_Message)
            {
                <div class="col-xs-3 panel ">
                    <edit-container>
                        <article class="editArea">
                            <section class="panel-img-container">
                                <img src="@SM.MessageImage" alt="House" class="panel-img" />
                            </section>
                            <section ng-model="ServicesHeader[@SM.ID]">
                                <p class="quicksand-light-32 panel-heading">@SM.MessageHeader</p>
                            </section>
                            <section ng-model="ServicesDescription[@SM.ID]">
                                <p class="mont-light-light-18 panel-summary">@SM.Message</p>
                            </section>
                            <section class="panel-footer">
                                <p class="quicksand-light-24-green">
                                    <a href="#">Learn more ></a>
                                </p>
                            </section>
                        </article>
                        <edit-link>
                            <edit-a controller="Services_Message" route-id="@SM.ID" class="editText"></edit-a>
                        </edit-link>
                    </edit-container>
                </div>
            }

        </div>

    </div>
</section>
@* END Panels for Services Offered *@

<article class="container-fluid purpose-box">
    <section class="row purpose col-xs-12">
        <edit-container>
            <div class="row purpose-title">

                @foreach (Purpose PS in Model.Purpose)
                {
                    <h2 class="h2-white  editArea">@PS.Title</h2>
                    <edit-link>
                        <edit-a controller="Purposes" route-id="@PS.PurposeID"></edit-a>
                    </edit-link>
                }
            </div>
        </edit-container>
        <edit-container>
            <div class="row purpose-detail">
                <div class="col-xs-12 no-padding">
                    @foreach (Purpose PS in Model.Purpose)
                    {
                        <p class="montlight-dark-32 editArea">@PS.Message</p>
                        <edit-link>
                            <edit-a controller="Purposes" route-id="@PS.PurposeID"></edit-a>
                        </edit-link>
                    }
                </div>
            </div>
        </edit-container>
        <edit-container>
            <div class="row purpose-stats">
                <div class="col-xs-12">
                    @foreach (Purpose PS in Model.Purpose)
                    {
                        <p class="editArea">@PS.Content</p>
                        <edit-link>
                            <edit-a controller="Purposes" route-id="@PS.PurposeID"></edit-a>
                        </edit-link>
                    }

                </div>
            </div>
        </edit-container>
    </section>
    <div class="clear"></div>
    <section class="row sponsor-bar">
        <div class="col-xs-12 col-lg-3">
            <p class="partner-text">Our Partners</p>
        </div>
        <div class="col-xs-12 col-lg-3 ">
            <div class="partner-logo">
                <img src="~/images/mckaydee_hospital.png" alt="McKay Dee Hospital" class="mckay" />
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="partner-logo">
                <img src="~/images/the_group_logo.png" alt="The Group Real Estate" class="thegroup" />
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="partner-logo">
                <img src="~/images/giv_development.png" alt="GIV Development" class="giv" />
            </div>
        </div>
    </section>
    <section class="row purpose-user">
        <div class="container text-center row">
            <a class="editText" asp-controller="Links" asp-action="Create">Add New Link</a>
        </div>
        <div class="boxes">
            @foreach (Link Lk in Model.Link)
            {
                <div class="col-xs-3 panel ">
                    <edit-container>
                        <article class="editArea">
                            <section class="panel-img-container">
                                <img src="@Lk.Image" alt="Volunteer" class="panel-img" />
                            </section>
                            <section>
                                <p class="panel-heading">@Lk.Title</p>
                            </section>
                            <section>
                                <p class="mont-light-light-22 panel-summary">@Lk.Message</p>
                            </section>
                            <section class="panel-footer">
                                <p class="quicksand-light-24-green">
                                    <a href="#">@Lk.Hyperlink ></a>
                                </p>
                            </section>
                        </article>
                        <edit-link>
                            <edit-a controller="Links" route-id="@Lk.LinkID"></edit-a>
                        </edit-link>
                    </edit-container>
                </div>
            }
        </div>
    </section>
</article>

<footer class="container-fluid">
    <div class="row clear">
        <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
            <p class="quicksand-dark-18-white">Contact</p>
            <p class="mont-light-dark-14-email">Email: info@yfut.org</p>
            <p class="mont-light-dark-14-email">
                Phone:
                <tel>801-528-1214</tel>
            </p>
        </section>
        <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
            <p class="quicksand-dark-18-white">Mailing Address</p>
            <p class="mont-light-dark-14-email">Youth Futures<br /> POB 160301<br /> Clearfield, UT 84016</p>
        </section>
        <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
            <p class="quicksand-dark-18-white">Shelter Address</p>
            <p class="mont-light-dark-14-email">Youth Futures<br /> 2760 S. Adams Ave<br /> Ogden, UT 84403</p>
        </section>
        <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
            <img src="./resources/page_1.png" alt="Home Image" class="footer-home" />
        </section>
        <section class="col-xs-10 col-xs-offset-1
                            col-sm-6 col-md-4 col-sm-offset-0 footer-section">
            <div class="social-media">
                <a href="#"><img src="~/images/social_instagram.png" alt="Instagram" /></a>
                <a href="#"><img src="~/images/social_twitter.png" alt="Twitter" /></a>
                <a href="#"><img src="~/images/social_tumblr.png" alt="Tumbler" /></a>
                <a href="#"><img src="~/images/social_fb.png" alt="Facebook" /></a>
            </div>
        </section>
    </div>
    <div class="copyright">
        <p class="mont-regular-dark-16-grey">© Youth Futures, Inc.</p>
    </div>
</footer>

