@model IEnumerable<MyYouthFutures.Models.Help_Panel>

@{
    ViewData["Title"] = "Index";
}
<div class="sidepage index">
    <h2>Index</h2>

    <a asp-action="Create" class="btn btn-primary btn-right"><span class="glyphicon glyphicon-plus"></span>Create New</a>
    <h4>Donate: Panels</h4>
    <hr />
    <div class="sidepage-content">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Content_Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Content_Text)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content_Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content_Text)
                        </td>
                        <td class="glyphs">
                            <a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                            <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" title="Details" class="border-left"><span class="glyphicon glyphicon-list"></span></a>
                            <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" title="Delete" class="border-left"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <hr />
    <a asp-controller="Home" asp-action="Index" class="btn btn-default back"><span class="glyphicon glyphicon-triangle-left"></span>Back to Page </a>

</div>