@model MyYouthFutures.Models.Doners

@{
    ViewData["Title"] = "Details";
}
<div class="sidepage details">
    <h2>Details</h2>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary btn-right"><span class="glyphicon glyphicon-edit"></span>Edit</a>
        <h4>Doners: Donor #@Model.ID</h4>
        <hr />
        <dl class="dl-horizontal sidepage-content">
            <dt>
                @Html.DisplayNameFor(model => model.Doner_Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Doner_Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Doner_Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Doner_Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Doner_year)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Doner_year)
            </dd>
        </dl>
    </div>
    <hr />
    <div>
        <a asp-action="Index" class="btn btn-default back"><span class="glyphicon glyphicon-triangle-left"></span>Back to List</a>
    </div>
</div>