@model MyYouthFutures.Models.Doners

@{
    ViewData["Title"] = "Details";
}
<div class="sidepage details">
    <h2>Details</h2>

    <div>
        <h4>Doners</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Doner_Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Doner_Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Doner_Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Doner_Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Doner_year)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Doner_year)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>