@model IEnumerable<MyYouthFutures.Models.Doners>

@{
    ViewData["Title"] = "Index";
}

<div class="sidepage index">
    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Doner_Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Doner_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Doner_year)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doner_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doner_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doner_year)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>